..Rcheck
.*.swp
.DS_Store
.RData
.Rhistory
.swp
*.log
biodbExpasy_*.tar.gz
biodbExpasy_*.tgz
biodbExpasy.Rcheck
biodbNcbi_*.tar.gz
biodbNcbi_*.tgz
biodbNcbi.Rcheck
cache*
check.Renviron
doc
longtests/*/output
Meta
Renviron.bioc
src-i386
src-x64
src/*.o
src/*.rds
src/*.so
tests/*/output
testthat-problems.rds
vignettes/*.html
vignettes/*.md
vignettes/*.R
/doc/
/Meta/
